<% include ../partials/header %>
<div class="row">
<div class="col-md-3">
    <p class="lead"><%=campground.name%></p>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="float-right">
          $<%= campground.cost %>/night
        </p>
        <h5 class="card-title"><%= campground.name %></h5>
        <p>
          <em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
        </p>
        <hr>
        <p class="card-text"><%= campground.description %></p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit <i class="fas fa-edit"></i></a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete <i class="fas fa-trash-alt"></i></button>
        </form>
        <% } %>
      </div>
    </div>
  <!--COMMENT SECTION START-->
 <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <div class="row">
        <% campground.comments.forEach(function(comment){ %>
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="float-left">
                  <p class="card-title"><%= comment.author.username %></p>
                  <p class="card-text"><%= comment.text %></p>
                </div>
                <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>
                  
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                  <div class="float-right">
                    <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                    <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include ../partials/footer %>